<header class="header">
  <div class="header__logo logo">
  	<img src="{{ 'logo.png'|img_asset}}" alt="Huawei logo">
  	<span>5G</span>
  </div>
  <div class="burger">
  	<button></button>
  </div>
  <nav class="nav">
  	<a href="#news" class="nav__link">Новости</a>
    <a href="#new-era" class="nav__link">Эра 5G</a>
    <a href="#mission" class="nav__link">Миссия</a>
    <a href="#innovations" class="nav__link">Практика и инновации</a>
    <a href="#contribution" class="nav__link">Вклад Huawei</a>
    <a href="#info" class="nav__link">Информация</a>
  </nav>
</header>
